.container{
    display: flex;
    flex-direction: column;
    color: white;
}

.container img{
    width: 100%;
    border-radius: 8px;
}

.container figcaption{
    padding: 12 px 0;


}

.container p{
    padding: 6px 0;
    font-size: 14px;

}